main {
  display: flex;
  flex-direction: row;
}
#image_status {
  width: auto;
  height: 400px;
  margin: 10% auto 25% auto;
}
form {
  width: 40%;
  margin: 7.5% auto 25% auto;
  padding: 20px;
}

form label {
  display: block;
  text-align: left;
  font-size: 1.5em;
}
form input {
	resize: none;
	height: 40px;
	width: 100%;
	margin: 5px 0 15px 0;
  border-radius: 5px;
	outline: none;
	font-size: 1em;
	border: 1px solid grey;
	padding-left: 10px;
	padding-right: 10px;
}
form button {
  height: 60px;
  width: 50%;
  margin: 5px 25% 0 25%;
  background-color: white;
  color: grey;
  border: 2px solid grey;
  border-radius: 10px;
	font-size: 1em;
  padding: auto;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

form button:hover {
  background-color: #FFFF64;
  color: black;
  border: 2px solid #FFFF64;
}
form a {
  display: block;
  width: auto;
  text-align: center;
  margin: 0 auto;
}
