/* шрифты */
@font-face { font-family: Roboto-Thin; src: url('../props/fonts/Roboto-Thin.ttf'); }
@font-face { font-family: Roboto-Regular; src: url('../props/fonts/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto-Medium; src: url('../props/fonts/Roboto-Medium.ttf'); }
@font-face { font-family: Roboto-Bold; src: url('../props/fonts/Roboto-Bold.ttf'); }

/*                   */
/* важные переменные */
/*                   */
:root {
	--header-color: rgb(255, 255, 100); /* the default #FFFF64 */
	--footer-color: rgb(18, 18, 18); /* the default */
	--background-color: #ffffff;
	--text-color: #ffffcc;
}

/* изменение стиля прокрутки */
::-webkit-scrollbar {
	width: auto;
}
::-webkit-scrollbar-track {
	background: var(--footer-color);
	border-left: 0.1vw solid black;
}
::-webkit-scrollbar-thumb {
	background: var(--header-color);
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 205, 50);
}
html {
	width: 100%;
}

/* изменение стандартного цвета, стиля и курсора ссылки */
a {
	cursor: url(../props/rock.cur), auto;
	text-decoration: none;
	color: #7F11AA;
}
main a:hover {
	text-decoration: underline;
}
.responsive-image{
	max-width: 100%;
	height: auto;
}

/* изменения стандартного стиля тела страницы */
body {
	overflow: hidden;
	margin: 0;
	background-image: url("../images/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Roboto-Regular;
}



/*                                      */
/*                                      */
/* желтая липкая верхняя часть страницы */
/*                                      */
/*                                      */
header {
	position: sticky;
	display: block;
	top: 0;
	user-select: none;
}

#head {
	position: relative;
	height: 8vh;
	background-color: var(--header-color);
	z-index: 3;
}

/* текст как логотип */
#logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: var(--footer-color);
	font-size: 6vh;
	font-family: Roboto-Thin;
	line-height: 8vh;
	text-align: center;
}

/* регулировка яркости сайта */
#brightness-control {
	cursor: e-resize;
	position: absolute;
	-webkit-appearance: none;
	background: white;
	outline: none;
	opacity: 0.7;
	border-radius: 1vw;
	-webkit-transition: .2s;
	transition: opacity .2s;
	height: 6vh;
	width: 20vw;
	margin-top: 1vh;
	margin-left: 0.5vw;
	z-index: 102;
}
#brightness-control:hover {
	opacity: 1;
}
#brightness-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-image: url("../images/mode-bulb.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	width: 4vh;
	height: 4vh;
}

#account {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	right: 0.5vw;
	top: 1vh;
	text-decoration: none;
	line-height: 5.5vh;
	font-size: 4vh;
}
#account * {
	min-width: 3.5vw;
}
#account-name {
	user-select: all;
	color: black;
	max-width: 20vw;
	overflow-y: auto;
}
#in {
	width: auto;
	height: 6vh;
	transform: rotate(-90deg);
}
#out {
	width: auto;
	height: 6vh;
	transform: rotate(90deg);
}

/* черная навигационная панель */
#nav_bar {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: Roboto-Thin;
	height: 4vh;
	line-height: 4vh;
	background-color: var(--footer-color);
	z-index: 2;
}
#nav_bar * {
	color: white;
	font-size: 3vh;
}
#nav_bar a {
	width: 24.5vw;
	text-align: center;
}
#nav_bar a:hover {
	background-color: rgb(72, 72, 72);
}

/* выпадающее меню */
#list_menu {
	position: absolute;
	top: -4vh;
	left: 50.275vw;
	display: flex;
	flex-direction: column;
	font-family: Roboto-Thin;
	width: 24.5vw;
	line-height: 4vh;
	background-color: rgb(38, 38, 38);
}
#list_menu * {
	font-size: 3vh;
	width: 24.5vw;
	color: white;
	text-align: center;
}
#list_menu *:hover {
	background-color: rgb(72, 72, 72);
}

/* подсветка снизу нав. панели текущей страницы */
#current {
	border-bottom: 0.2vh solid #FF3333;
	animation: rainbow 1s infinite;
}
/* анимация радуги */
@keyframes rainbow {
  0% {
    border-bottom: 0.2vh solid #FF3333;
  }
  8% {
    border-bottom: 0.2vh solid #FF9933;
  }
  16% {
    border-bottom: 0.2vh solid #FFFF33;
  }
  24% {
    border-bottom: 0.2vh solid #99FF33;
  }
  32% {
    border-bottom: 0.2vh solid #33FF33;
  }
  40% {
    border-bottom: 0.2vh solid #33FF99;
  }
  48% {
    border-bottom: 0.2vh solid #33FFFF;
  }
  56% {
    border-bottom: 0.2vh solid #3399FF;
  }
  64% {
    border-bottom: 0.2vh solid #3333FF;
  }
  72% {
    border-bottom: 0.2vh solid #9933FF;
  }
  80% {
    border-bottom: 0.2vh solid #FF33FF;
  }
  88% {
    border-bottom: 0.2vh solid #FF3399;
  }
  100% {
    border-bottom: 0.2vh solid #FF3333;
  }
}


/* все, что не оглавление будет занимать оставшуюся часть страницы */
#content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 12vh);
	overflow: auto;
}



/*                        */
/*                        */
/* главная часть страницы */
/*                        */
/*                        */
main {
	color: var(--footer-color);
	background-color: var(--background-color);
	align-self: center;
	box-sizing: border-box;
	max-width: 1620px;
	width: calc(100% - 15vw);
	height: 10000px;
	font-size: 1.5em;
	padding: 1vw 5vw 1vw 5vw;
}



/*                              */
/*                              */
/* черная нижняя часть страницы */
/*                              */
/*                              */
footer {
	display: flex;
	background-color: var(--footer-color);
	color: white;
	align-self: center;
	box-sizing: border-box;
	max-width: 1720px;
	width: calc(100% - 10vw);
	font-size: 1em;
	padding: 20px 50px 20px 50px;
}

/* текст справа/слева в footer */
#lorem {
	grid-area: lorem;
}
#ipsum {
	grid-area: ipsum;
}

/* кнопки соц. сетей */
#social {
	grid-area: social;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#social svg {
	fill: var(--header-color);
	width: 60px;
	height: 60px;
}
#social a {
	fill: var(--header-color);
	text-align: center;
	width: 100px;
}
#footer_grid{
	display: grid;
	margin-left: auto;
	margin-right: auto;
	grid-template-areas:
		'lorem ipsum'
		'social social';
	grid-template-columns: calc(50% - 1vw) calc(50% - 1vw);
	max-width: 1540px;
	width: 100%;
	grid-gap: 2vw;
}

/* блок яркости сайта */
#night-mode{
	display: block;
	position: fixed;
	background-color: black;
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	z-index: 100;
}
#night-mode-image{
	display: block;
	position: fixed;
	background-image: url("../images/background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	z-index: 101;
}


/* adaptive */
@media only screen and (max-device-width: 700px) {
	#nav_bar * {
		font-size: 3vw;
	}
	main {
		font-size: 2vh;
	}
	#content{
		overflow:hidden;
	}
}

@media only screen and (max-width: 1000px){
	#footer_grid{
		grid-template-areas:
			'lorem'
			'ipsum'
			'social';
		grid-template-columns: 100%;
	}
}
